@charset "UTF-8";

@import url(font.css);
@import url(reset.css);

body {
    font-family: 'Pretendard'; height: 5000px;
}

.wrap {

}
.container {
    max-width: 1400px; margin: 0 auto;
}

header {
    position: absolute; z-index: 3;
    width: 100%;
}
header .container {
    display: flex; justify-content: space-between; align-items: center;
}
header .container h1 {
    position: relative;
    animation: h1Ani 2s forwards;
}
@keyframes h1Ani {
    0% {top: -100px;}
    50% {top: 20px;}
    100% {top: 0;}
}

header .container h1 a {
    color: #fff;
}
header .container h1 a img {}
header .container nav {}
header .container nav .gnb {
    display: flex;
}
header .container nav .gnb li {
    position: relative; top: -100px;
    font-size: 18px;
    animation: gnbAni 2s forwards;
}
@keyframes gnbAni {
    0% {top: -100px;}
    50% {top: 20px;}
    100% {top: 0;}
}
header .container nav .gnb li:nth-child(1) {
    animation-delay: 0.2s;
}
header .container nav .gnb li:nth-child(2) {
    animation-delay: 0.3s;
}
header .container nav .gnb li:nth-child(3) {
    animation-delay: 0.4s;
}
header .container nav .gnb li:nth-child(4) {
    animation-delay: 0.5s;
}

header .container nav .gnb li a {
    display: flex;
    color: #fff; padding: 30px 40px;
}

.hero {
    position: relative;
    height: 100%; overflow: hidden;
}
.hero .bg {}
.hero .img1 {
    position: absolute; left: 0; top: 0;
}
.hero .img2 {
    position: absolute; right: 0; bottom: 0;
    width: 760px; height: 875px;
    background: url(../images/img2.png); animation: imgAni 0.2s infinite steps(3);
}
@keyframes imgAni {
    0% {background-position: 0 0;}
    100% {background-position: -2280px 0;}
}

.hero .textbox {
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.hero .textbox svg {
    stroke-dasharray: 830px; /* 선 하나 */ stroke-dashoffset: 830px; /* 간격 */
    animation: s 3s forwards;
}
@keyframes s {
    0% {stroke-dashoffset: 830px;}
    100% {stroke-dashoffset: 0px;}
}
